[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.24"
psycopg2-binary = "==2.8.3"
django-crispy-forms = "==1.7.1"
django-allauth = "==0.38.0"
pillow = "==5.4.1"
stripe = "==2.40"
django-debug-toolbar = "*"
whitenoise = "==4.1.2"
gunicorn = "==19.9.0"
dj-database-url = "*"

[requires]
python_version = "3.7"
