{% extends '_base.html' %}
{% block title %} {{object.title}} {% endblock title %}
{% block content %}
    <div class="book-detail">
        {% if object.cover %}
            <img class="bookcover" src="{{object.cover.url}}" alt="{{book.title}}">
        {% endif %}
        <h2>
            <a href="">{{object.title}}</a>
            <p>Author: {{object.author}}</p>
            <p>Price: {{object.price}}</p>
        </h2>
        <div class="book-reviews">
            <h3>Reviews</h3>
            <ul>
                {% for review in object.reviews.all %}
                    <li>{{review.review}} ({{review.author}}) </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock content %}